 * {
     box-sizing: border-box;
     /*box-sizing: content-box;*/
 }

 body {
     font-family: Arial, sans-serif;
     text-align: center;
     padding: 30px;
 }

 .cajaexterna {
     background-color: rgb(224, 95, 192);
     width: 300px;

     margin: auto;

     border: 2px solid black;
     border-radius: 10px;
 }

 .cajainterna {
     background-color: rgb(158, 219, 158);
     width: 150px;
     height: 150px;

     border: 2px solid white;
     border-left: 4px solid white;
     border-bottom: 4px solid white;
     margin: 15px auto;

     padding: 10px;
 }

 .contenido {
     background-color: rgb(109, 96, 184);

     border: 2px solid rgb(255, 0, 204);

     margin: 0px;

     padding: 0px;

 }

 .hidden {
     overflow: hidden;
 }

 .scroll {
     overflow: auto;
     /*overflow: scroll;*/
 }

 .ellipsis {
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
 }

 .visible {
     overflow: visible;
 }

 . h2 {
     margin: 0;
 }